{% extends 'base.html' %}
{%block content%}
<form method="POST" action="">
  {{ form.csrf_token }}
  <label>
    <p class="label-txt">ENTER YOUR NAME</p>
    <input type="text" name="username" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">ENTER YOUR EMAIL</p>
    <input name="email" type="email" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
 
  <label>
    <p class="label-txt">ENTER YOUR PASSWORD</p>
    <input type="password" name="password" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">CONFIRM YOUR PASSWORD</p>
    <input type="password" name="password2" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <button type="submit">submit</button>
</form>
<div class="border-top pt-3">
    <small class="text-muted">
        Already have an account? <a href="{{ url_for('login')}}">Login</a>
    </small>
</div>
  {%endblock %}