{% extends 'base.html' %}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 pl-3 pr-3">
          <form method="POST" action="">
              {{ form.csrf_token }}
              <label>
            
                <p class="label-txt">ENTER YOUR USERNAME</p><br>
                <input type="text" name="username" class="input"><br>
                <div class="line-box">
                  <div class="line"></div>
                </div>
              </label>
              <label><br>
                <p class="label-txt">ENTER YOUR PASSWORD</p><br>
                <input type="password" name="password" class="input"><br>
                <div class="line-box">
                  <div class="line"></div>
                </div>
              </label><br>
              <label class="form-check">
                  {{form.remember}}
                  {{form.remember.label}}
              </label><br>
              <button type="submit">submit</button>

              <small class="text-muted ml-3">
                  <a href="#">Forgot password?</a>
              </small>
            </form>
            <div class="border-top pt-3">
              <small class="text-muted">
                  Register an account here <a href="{{ url_for('register')}}">Register</a>
              </small>
          </div>
      </div>
        <div class="col-md-2"></div>
    </div>
</div>
  {%endblock %}